form {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  textarea {
    width: 30%;
    resize: none;
    padding: 10px 15px;
    height: 100px;
    font-size: 1rem;
    &::placeholder {
      font-weight: bold;
    }
  }
  input {
    height: 40px;
    width: 15%;
    font-size: 1rem;
    &::placeholder {
      font-weight: bold;
      text-align: center;
    }
  }
}
