div {
  position: relative;
  padding: 20px;
  font-size: 20px;
  border-left: 3px solid #333;
  height: 100%;
  button {
    position: absolute;
    bottom: 20px;
    right: 30px;
    padding: 10px;
    background-color: rgb(206, 2, 2);
    color: #fff;
    border-color: rgb(206, 2, 2);
    &:hover {
      cursor: pointer;
      background-color: rgba(206, 2, 2, 0.721);
      border-color: rgba(206, 2, 2, 0.721);
    }
      @media screen and (max-width: 780px) {
      padding: 5px;
   }
  }
}
